.header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    background-image: url("../../assets/Backgroundimage.svg");
    background-size: cover;
    background-position: center;
    height: 576px;
    justify-content: center;
  }
  
  .header__overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    z-index: 0;
  }

  .header__user {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border: 1px solid #fff;
    border-radius: 100px;
    background: transparent;
    color: #fff;
    cursor: pointer;
  }
  
  .header__logout {
    width: 16px;
    height: 16px;
    background-image: url("../../assets/Door.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .header_saved {
    background-image: none;
    background-color: #f5f6f7;
    min-height: auto;
  }
  
  .header_saved .header__overlay {
    background: none;
  }
  
  .header_saved .header__logo {
    color: #000;
  }
  
  .header_saved .header__hero {
    display: none;
  }
  
  .header_saved .header__link {
    color: #000;
  }
  
  .header_saved .header__link:hover  {
    opacity: 0.7;
  }
  
  .header_saved .header__user {
    color: #000;
    border: 1px solid #000;
  }
  
  .header_saved .header__user:hover  {
    opacity: 0.7;
  }
  
  
  .header_saved .header__logout {
  filter: invert(1);
  }
  
  .header_saved .header__logout:hover  {
    opacity: 0.7;
  }
  
  .header_saved .header__link_active {
    border-bottom-color: #000;
  }
  
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px 416px 88px;
  }

  @media screen and (max-width: 579px) {
  .header__hero {
    padding: 30px 16px 122px;
    align-items: center;
  }

  }