.not-found {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f6f7;
  }
  
  .not-found__image {
    width: 82px;
    height: 82px;
    margin-bottom: 24px;
  }
  
  .not-found__title {
    margin: 0 0 16px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #1a1b22;
  }
  
  .not-found__text {
    margin: 0;
    max-width: 356px;
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    color: #b6bcbf;
  }