.main {
  width: 100%;
  overflow: visible;
}

.author {
  background-color: #ffffff;
  padding: 80px 0;
}

.author__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 56px;
}

.author__avatar {
  max-width: 464px;
  max-height: 464px;
  border-radius: 50%;
  background-color: #949494;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.author__avatar-text {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 100%;
  font-family: Roboto;
}

.author__content {
  max-width: 600px;
}

.author__title {
  margin: 0 0 24px;
  font-size: 40px;
  font-weight: 400;
  color: #1a1b22;
}

.author__text {
  margin: 0 0 16px;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.author__smiley {
  position: relative;
  width: 58px;
  height: 58px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-bottom: 16px;
}

.author__eye {
  position: absolute;
  top: 18px;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
}

.author__eye_left {
  left: 18px;
}

.author__eye_right {
  right: 18px;
}

.author__smile {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 21px;
  height: auto;
}

.author__avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.search-results__title {
  font-family: Roboto Slab;
  font-weight: 370;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 0 0 42px;
}

.search-results {
  max-width: 1280px;
  margin: auto;
  padding: 0 21px;
  margin-top: 70px;
}

.search-results__button {
  width: 288px;
  height: 64px;
  border: none;
  border-radius: 32px;
  background-color: #ffffff;
}

.search-results__button-wrapper {
  margin-bottom: 96px;
  justify-content: center;
  display: flex;
  margin-top: 60px;
}

.search-wrapper {
  height: 208px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-results__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .author__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    width: 100%;
  }

  .author__image {
    margin-bottom: 24px;
  }
}
