.preloader {
    min-height: 282px;
    background-color: #F5F6F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .preloader__text {
    margin-top: 24px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #b6bcbf;
  }
  
  .circle-preloader {
    display: block;
    width: 50px;
    height: 50px;
    border: 4px solid #444;
    border-bottom-color: #888;
    border-radius: 50%;
    animation: spin .75s infinite linear;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }