.header {
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .header__content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 104px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header__logo {
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  
  .header__nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .header__link {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding-bottom: 6px;
  }
  
  .header__link_active {
    border-bottom: 3px solid #fff;
  }
  
  .header__button {
    height: 48px;
    padding: 0 20px;
    border-radius: 100px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }