.header {
  color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ededed;
  height: 80px;
  margin-bottom: -80px;
  z-index: 10;
}

.header__title {
  margin: 0;
  max-width: 608px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 0;
  color: #ffffff;
}

.header__subtitle {
  margin: 12px 0 32px;
  max-width: 608px;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: #ffffff;
}

.search-form {
  display: flex;
  position: relative;
  margin-top: 24px;
}

.search-form__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  width: 608px;
  min-width: 608px;
  height: 66px;
  fill: #fff;
  stroke-width: 1px;
  stroke: var(--simulator-gray-divider, #d1d2d6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 100px;
  border: none;
  text-indent: 24px;
  padding: 0;
}

.search-form__button {
  position: absolute;
  right: 0;
  width: 168px;
  min-width: 168px;
  height: 66px;
  border-radius: 100px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
  border: none;
  color: var(--main-white, #fff);
  text-align: center;
  font-family: "Roboto", Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
  padding: 0;
}

.search-form__button:hover {
  background-color: #2664ce;
  cursor: pointer;
}

.header__content {
  height: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  width: 100%;
  max-width: 1232px;
}

.header__options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.header__nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 4px;
  white-space: nowrap;
}

.header__link_active {
  border-bottom: 3px solid currentColor;
}

.header__saved .header__link_active {
  border-bottom: 3px solid currentColor;
}

.header__link_saved {
  font-weight: 500;
}

.header__link {
  display: inline-flex;
  align-items: center;
  width: auto;
  text-decoration: none;
}

.header__button {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 100px;
  width: 176px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.header__button:hover {
  opacity: 0.85;
}

.header__close {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  visibility: hidden;
}

.header__close_black {
  color: black;
}

.header__menu-button {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 56px;
  }

  .header__close {
    visibility: visible;
  }

  .header__nav {
    display: none;
  }

  .header__mobile {
    flex-direction: column;
    position: fixed;
    background-color: #1a1b22;
    z-index: 100;
    width: 100%;
    left: 0;
    padding-bottom: 20px;
  }

  .header__mobile-nav-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    text-align: left;
    max-width: 288px;
  }

  .header__menu-button {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 5;
  }

  .header__title {
    line-height: 40px;
    text-align: center;
    margin: 32px 0 16px;
    display: block;
    font-size: 45px;
    align-items: start;
    padding-top: 20px;
  }

  .header__mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 40px;
  }

  .header__mobile-nav-last {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 12px 20px;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    min-width: 288px;
  }

  .header__mobile-nav-options {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  .header__mobile-nav-options-nav {
    margin-top: 16px;
    padding: 16px;
  }
}

@media screen and (max-width: 579px) {
  .search-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .search-form__input {
    height: 56px;
    margin: 0 auto 16px;
    width: 100%;
    min-width: 288px;
  }

  .search-form__button {
    position: static;
    width: 100%;
    height: 56px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .header__title {
    line-height: 40px;
    text-align: center;
    margin: 32px 0 16px;
    display: block;
    font-size: 33px;
    align-items: start;
    padding-top: 80px;
  }
}

