.header {
  background-image: url("../../assets/Backgroundimage.svg");
  background-size: cover;
  background-position: center;
  height: 576px;
  color: #fff;
}

.header__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 30px 104px 0 104px; 
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.header__nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__link {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 4px;
}

.header__link_active {
  border-bottom: 3px solid #fff;
}

.header__button {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 8px 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}