.modal__content_success {
    width: 360px;
    min-height: 10px;
    padding: 32px;
    text-align: center;
  }
  
  .modal__success-text {
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 900;
  }
  
  .modal__link-button {
    background: none;
    border: none;
    color: #2f71e5;
    font-size: 14px;
    cursor: pointer;
  }