.cards {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1232px;

  display: grid;
  grid-template-columns: repeat(3, 400px);
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
}

.card {
  position: relative;
  width: 400px;
  height: 576px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
  
  .card__image {
    width: 100%;
    height: 272px;
  }
  
  .card__content {
    padding: 20px;
  }
  
  .card__date {
    font-size: 14px;
    color: #b6bcbf;
    margin-bottom: 8px;
  }
  
  .card__title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 12px;
  }
  
  .card__text {
    font-size: 16px;
    margin-bottom: 18px;
  }
  
  .card__source {
    font-size: 14px;
    color: #b6bcbf;
    text-transform: uppercase;
  }
  
  .card__image-wrapper {
    position: relative;
  }

  .card__save-button {
    position: absolute;
    top: 16px;
    right: 16px;
  
    width: 40px;
    height: 40px;
  
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 49px;
  
    border: none;
    border-radius: 8px;
  
    cursor: pointer;
    z-index: 2; 
  }
  
  .card__save-button {
    background-image: url("../../assets/Card-inactivebtn.svg");
  }
  
  .card__save-button_active {
    background-image: url("../../assets/Card-activebtn.svg");
  }

  .card__save-button:hover {
    opacity: 0.9;
  }

  .card__save-tooltip {
    position: absolute;
    right: 48px;  
    top: 0;
  
    height: 40px;           
    display: flex;
    align-items: center;
  
    padding: 0 12px;
    border-radius: 10px;
    background-color: #fff;
  
    font-family: Inter, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #000;
  
    white-space: nowrap;
  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s ease, visibility 0.2s ease;
  }
  
  .card__save-button:hover .card__save-tooltip {
    opacity: 1;
    visibility: visible;
  }