.cards {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1232px;

  display: grid;
  grid-template-columns: repeat(3, 400px);
  column-gap: 16px;
  row-gap: 16px;
  justify-content: center;
}

.card {
  position: relative;
  width: 400px;
  height: 576px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
  
  .card__image {
    width: 400px;
    height: 576px;
    top: 766px;
    left: 520px;
    object-fit: cover;
  }
  
  .card__content {
    padding: 20px;
  }
  
  .card__date {
    font-size: 14px;
    color: #b6bcbf;
    margin-bottom: 8px;
  }
  
  .card__title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 12px;
  }
  
  .card__text {
    font-size: 16px;
    margin-bottom: 18px;
  }
  
  .card__source {
    font-size: 14px;
    color: #b6bcbf;
    text-transform: uppercase;
  }
  
  .card__image-wrapper {
    position: relative;
  }

  .card__save-button {
    position: absolute;
    top: 16px;
    right: 16px;
  
    width: 40px;
    height: 40px;
  
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px 49px;
  
    border: none;
    border-radius: 8px;
  
    cursor: pointer;
    z-index: 2; 
  }
  
  .card__save-button {
    background-image: url("../../assets/Card-inactivebtn.svg");
  }
  
  .card__save-button_active {
    background-image: url("../../assets/Card-activebtn.svg");
  }

  .card__save-button:hover {
    opacity: 0.9;
  }