.modal {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  .modal__overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal__content {
    position: relative;
    background-color: #fff;
    border-radius: 16px;
    padding: 32px 36px;
    box-sizing: border-box;
    z-index: 1;
  }
  
  .modal__content_login {
    width: 430px;
    min-height: 380px;
  }

  .modal__close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 5;
    opacity: 1;
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 32px;
  }

  .modal__close:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: 900;
  }
  
  .modal__label {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #2f71e5;
    margin-bottom: 20px;
  }
  
  .modal__input {
    margin-top: 8px;
    padding: 10px 0;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #000;
  }

  .modal__content_auth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width: 430px;
    min-height: 380px;
  
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px 36px;
    box-sizing: border-box;
  }
  
  .modal__submit {
    width: 100%;
    height: 48px;
    background-color: #e6e8eb;
    color: #b6bcbf;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    margin-top: 8px;
    cursor: default;
  }

  .modal__submit_active:hover {
    background-color: #2664ce;
    cursor: pointer;
  }

  .modal__submit_active:active {
    transform: scale(0.98);
  }
  
  .modal__switch {
    margin-top: 16px;
    text-align: center;
    font-size: 14px;
  }
  
  .modal__switch span {
    color: #2f71e5;
    cursor: pointer;
  }

  .modal__switch span:hover {
    color: #2664ce;
    cursor: pointer;
  }

  .modal__error {
    margin-top: 4px;
    font-size: 12px;
    color: #ff0000;
  }
  
  .modal__submit_active {
    background-color: #2f71e5;
    color: #fff;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .modal__content_auth {
      width: 100%;
      opacity: 1;
      top: unset;
      border-width: 1px;
      display: flex;
      flex-direction: column;
      position: fixed;
      height: 100%;
      bottom: -60%;
  }

  .modal__close {
  right: 0;
  }
  
}